

* {
	box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #fff;
  background-color: #F4F6F6;
  font-family: 'Oxygen', sans-serif;

}

/** HEADER **/
#header-nav {
  background-color: #BEB9B5;
  border-radius: 0;
  border: 2px;
  border-color: #000000;
  padding-top: 25px; 
}

li a {

	background-color: #FCF4D9;
	text-align: center;

	
}

div .jumbotron {

	padding: 5px;
	margin: auto;
	
}

div .container-fluid {

    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

div p {

	color: #FF7A5A;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 100%;
    height: auto;
    font-family: Helvetica;
    position: relative;
    overflow: auto;

}





